.main-page-padding {
  padding: 50px;
  margin: auto;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#booking {
  width:350px;
  height: 400px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 100px;
  left: 900px;
  bottom: 100px;
  margin-left: 150px;

}
