.main-page-padding {
  padding: 72px;
  padding-bottom: 0px;
}

#booking {
  background: rgb(255, 255, 255);
  width:350px;
  border: 1px solid rgb(219, 219, 219);
  padding:20px;
  margin:0px;

  position: -webkit-sticky; /* Safari */
  position: sticky;

  bottom:900;
  left: 900px;
  display: inline-block;
}

